* {
    font-family: "Nerko One", sans-serif;
}


header {
    background-color: rgba(40, 40, 40, 0.5);
    height: 13vh;
    width: 90vw;
    padding: 0 5vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
}

body {
    margin: 0;
    background-image: url("imgs/pier.jpg");
}

#content {
    height: 87vh;
    width: 100vw;
    background-color: transparent;

    display: grid;
    align-items: center;

}

/*Container for actual content*/
#main {
    width: 80vw;
    height: 80%;
    margin: auto;
    padding: 16px;
    
    border-radius: 50px;
    background-color: rgba(40, 40, 40, 0.5);
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}


#head-text-home {
    text-align: center;
    color: white;
    font-size: 54px;
    font-weight: bold;
    position: relative;

    font-family: "Nerko One", system-ui;
    font-weight: 400;
    font-size: 6rem;
    
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

#head-text-home span {
    font-size: 3rem;
}

#home-page-logo {
    font-size: 46px;
    text-decoration: none;
    color: white;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    cursor: pointer;
}


/* About Section */

#about-grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#about-text {
    text-align: center;
    color: white;
    padding: 2rem;
}

#about-header-text {
    font-size: 36px;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

#about-content-text {
    font-size: 24px;
}

#about-img {
    background-image: url("imgs/about-img.jpg");
    background-position: center;
    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 50px;
}

/* Menu Section */

#menu-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    height: 100%;
}

.dish-card {
    padding: 16px;
    border-right: 1px solid white;
    box-sizing: border-box;
    text-align: center;
    color: white;
    &.dish-card:last-of-type{
        border: 0;
    }
}

.dish-card-header {
    font-size: 36px;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.dish-card-content {
    font-size: 24px;
}

.dish-price {
    font-size: 48px;
    width: 120px;
    padding: 16px;
    background-color: rgb(112, 128, 144);
    border-radius: 20px;
    margin: auto;
}

/* Global Classes */

.btn {
    padding: 5px;
    height: 13vh;
    width: 10vw;
    background-color: transparent;
    border: 0;
    font-size: larger;
    color: white;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.btn:hover {
    border-right: 5px solid rgba(0, 0, 0, 0.45);
    border-left: 5px solid rgba(0, 0, 0, 0.45);
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.55);
}


.non-selectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*
Animation for content apperaing
*/
.fadeAnimation {
    animation: fadeAnimation ease 1s;
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
        top: 20%;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}