* {
    font-family: "Nerko One", sans-serif;
}


header {
    background-color: rgba(40, 40, 40, 0.5);
    height: 13vh;
    width: 90vw;
    padding: 0 5vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
}

body {
    margin: 0;
    background-image: url("imgs/pier.jpg");
}

#content {
    height: 87vh;
    width: 100vw;
    background-color: transparent;

    display: grid;
    align-items: center;

}

#main {
    width: 80vw;
    height: 80%;
    /* background-color: rgba(40, 40, 40, 0.5); */
    background-color: transparent;
    margin: auto;
    
    /* border-radius: 50px;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45); */

}

#head-text-home {
    text-align: center;
    color: white;
    font-size: 54px;
    font-weight: bold;
    position: relative;

    font-family: "Nerko One", system-ui;
    font-weight: 400;
    font-size: 6rem;
    
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

#head-text-home span {
    font-size: 3rem;
}

.btn {
    padding: 5px;
    height: 13vh;
    width: 10vw;
}